<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %>
<button class="btn btn-default" type="submit"><%= link_to 'Back', employees_path %></button>
